<ion-view view-title="Trabajo Práctico 2">
  <ion-content class="padding">


    <div id="Selva">
   
    <center>
        <h2>Haga su propia Selva</h2>
        <br>
        <br>

        <table border="2px" width="100%">
          <tr>
            <td width="20%">
              <div>
                 <center>
                   <input type=image src="img/Vaca.jpg" width ="100%" height ="100%" ng-click="Vaca()">
                    <!-- <div ng-click="Acciones()" type=image width ="500px" height ="500px" src="img/perry.png"></div> -->
                 </center>
              </div>
            </td>

            <td width="20%">
              <div>
                <center>
                  <input type=image src="img/Grillo.jpg" width ="100%" height ="100%" ng-click="Grillo()">
                  <!-- <div ng-click="Acciones()" type=image width ="100%" height ="100%"  src="img/Vaca.jpg"></div> -->
                  <br>      
                </center>
              </div> 
            </td>

             <td width="20%">
              <div>
                <center>
                  <input type=image src="img/Cardenal.jpg" width ="100%" height ="100%" ng-click="Cardenal()">
                   <!-- <div ng-click="Acciones()" type=image width ="100%" height ="100%"  src="img/Vaca.jpg"></div> -->
                  <br>      
                </center>
              </div> 
            </td>

            <td width="20%">
              <div>
                <center>
                  <input type=image src="img/Oveja.jpg" width ="100%" height ="100%" ng-click="Oveja()">
                  <!-- <div ng-click="Acciones()" type=image width ="100%" height ="100%"  src="img/Vaca.jpg"></div> -->
                  <br>      
                </center>
              </div> 
            </td>

          </tr>    
      </table>           
    </center>
    </div>
    
  </ion-content>
</ion-view>
