<ion-view view-title="Trabajo Práctico 2">
  <ion-content class="padding">


    <div id="Selva">
   
    <center>
        <h2>Linterna</h2>
        <br>
        <br>

        <table border="2px" width="100%">
          <tr>
            <td width="100%">
              <div>
                 <center>
                   <input type=image src="img/Linterna.jpg" width ="30%" height ="30%" ng-click="Linterna()">
                    <!-- <div ng-click="Acciones()" type=image width ="500px" height ="500px" src="img/perry.png"></div> -->
                 </center>
              </div>
            </td>
          </tr>    
      </table>           
    </center>
    </div>
    
  </ion-content>
</ion-view>
