<ion-view view-title="Piano">
  <ion-content class="padding">
  <br>
  <br>
  <center>
      <h2>toque su melodìa</h2>

      <button ng-click="Acciones()"> Melodia 1</button>
      <button ng-click="Acciones()"> Melodia 2</button>
      <button ng-click="Acciones()"> Melodia 3</button>
      <button ng-click="Acciones()"> Melodia 4</button>
      <button ng-click="Acciones()"> Melodia 5</button>
      <button ng-click="Acciones()"> Melodia 6</button>

      <button ng-click="Linterna()"> Prender Linterna</button>
      


  </center>
  </ion-content>
</ion-view>
